*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.main{
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
    background:linear-gradient(to right, #d7ebf2,#cff3ff);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
nav{
    width:100%;
    height: 40px;
    position:fixed;
    top: -4%;
    margin: 20px auto;
    z-index:1;
    display:flex;
    align-items:center;
    background-color: #0005; /* Making background transparent */

}
h1 {
    color: black;   
}
h2{
    position: relative;
    color:white;
    left: 10%;
    display: inline-block;
}
p {
    color: black;
}
.logo{
    display: inline-block;
    padding: 2px;
    position: relative;   
    top: 15%;
    left: 5%;
    flex-basis:20%;
}
.logo h2{
    color:white;
}
.logo img{
    width:35px;
    height:35px;
}
.searchBar{
    position: relative;
    top: 8%;
    left: 12%;
    background: rgb(228, 225, 232);
    border-radius: 40px;
    height: 35px;
    border:none;

}
.searchButton{
    color:rgb(33, 121, 168);
    position: relative;
    top: 18%;
    float:right;
    height: 40px;
    width: 40px;
}
.searchText{
    background: transparent;
    border: none;
    text-align: center;
    outline: none;
    line-height: 35px;
    font-size: 16px;
}
.navItems{
    flex:1;
    text-align:right;
   
}
.navItems ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    
}
.navItems ul li a{
    color:#fff;
    text-decoration:none;
    transition: all 0.3s ease 0s;
}
.navItems ul li a:hover{
    color: black;
}
.navButton{
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background: black;
    cursor: pointer;
    transition: ease-out 0.6s;
}
.navButton:hover{
    box-shadow: inset 80px 0 0 0 rgb(52, 130, 186);
    color: rgb(88, 235, 220);
}
.information{
    width:1000px;
    height:1000px;
    position:absolute;
    top:60%;
    left:-10%;
    transform: translateY(-50%);
}
#circle{
    width:700px;
    height:700px;
    position:absolute;
    top:10%;
    left:0;
    border-radius:50%;
    transform: rotate(0deg);
    transition: 1s;
}
.feature img{
    width:70px;
}
.feature{
    position:absolute;
    display:flex;
    color:#fff;
}
.one{
    top: 300px;
    right: 20px;
}
.two{
    top:100px;
    left:200px;
    transform: rotate(-90deg);
}
.three{
    top:300px;
    left:50px;
    transform: rotate(-180deg);
}
.four{
    top:500px;
    left:250px;
    transform: rotate(-270deg);
}
.mobile{
    width:200px;
    
    position:absolute;
    top:45%;
    left:25%;
    transform: translateY(-60%);
    z-index:1;

}
.controls {
    position:absolute;
    right:40%;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    cursor: pointer;
}
#btn {
    width: 40px;
    height:40px;
    cursor:pointer;
    
}
.hideFeatures{
    position:relative;
    left:-11%;
    top:-7%;
    width:0;
    height:0;
    border-top: 500px solid black;
    border-bottom: 500px solid black;
    border-right: 500px solid transparent;
    border-left: 500px solid black; 
}

.colorOptions{
    position: relative;
    box-sizing: border-box;
    float:left;
    padding: 5px;
    left: 72.5%; 
    top: 60%;
    width: 33.33%;  
    background: transparent;
    
}
.chosenColor{
    position:relative;
    width:250px;
    height:250px;
    background: transparent;
    left: 70%;
}
.chosenPhoneColor{
    position: relative;
    width:250px;
    height: 250px;
    top: -50%;
    object-fit: contain;    /* Image will be cropped automatically */
}
#mainOption{
    position: relative;
    left: 40%;
}
.phoneColors{
    height:100px;
    object-fit: cover;
}
.product{
    padding: 45px;
    margin: 10px;
    border: 10px;
    top: 20%;
}
.product .mainImage img{
    position: relative;
    left: 70%;
    top: -10%;
    max-width : 160px;
    margin: auto;
}
.product .thumbImage{
    position: relative;
    text-align: center;
    left: -13.5%;
}
.product .thumbImage .box{
    position: relative;
    left: 40%;
    display: inline-block;
    width: 24px;
    height: 48px;
    border: 1px solid white;
    margin: 2px;
    cursor: pointer;
}
.product .thumbImage .box.active{
    border-color: blue;
}
.product .thumbImage .box img{
    max-width: 100%;
    max-height: 100%;
}
.otherProducts{
    position: relative;
    width:100%;
    height: 600px;
    background: rgb(215, 225, 231);
    top: 36%;
    z-index: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: .5em;

}
/*
.otherProducts:nth-child(even){
    background: white;
}
*/

.laptop{
    text-align: center;
    background: rgb(229, 239, 242);
    object-fit: cover;
    height: 600px;
}
.laptop h1,h2{
    color:black;
}
.laptopClass{
    object-fit:contain;   /* Entire Image Visible */
    position: relative;
    top: 20%;
    height: 400px;
    top: 20%;

}
.watch{
    background: black;
    text-align: center;
}
.watch h1{
    color:white;
}
.watchClass{
    position: relative;
    top:20%;
    height: 350px;
    object-fit: contain;
}