*{
  /*  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial, Helvetica, sans-serif;
  */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin: 0;
    padding: 0;  
}
.main{
    text-align: center;
}
nav{
    position: fixed;
    left: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    display: inline-block;
    background: #0001;
    text-align: center;
    z-index: 10;
}
.totalUl li:hover{
    color: white;
    transition: all ease 0.3s;
}
.sectionA{
    position: relative;
}
.total{
    width: 100%;
    height: 2000px;    
    background: linear-gradient(to right,rgb(219, 229, 235),rgb(112, 175, 237));
}
.totalUl{
    width: 100%;
    height: 100%;
}
.totalUl li{
    display: inline-block; /*  Item is placed inline  */
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
    margin: 5px;
    padding: 2px;   
}
.totalUl .name{
    position: fixed;
    left: 15px;
    font-size: x-large;
}
.sectionB{
    position: relative;
}
.about{
    position: relative;
    text-align: center;
    /*
    
    width: 80%;
    height: 400px;
    */
    display: block;
    margin-left: auto;  /* Equal margin on width */
    margin-right: auto;
    top: 50px;
    width: 90%;
    height: 100%;
    background: white;
    color: black;
}
.about .aboutInfo{
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}
.image{
    height: 350px;
}
#selfImage{
    max-width: 100%;
    height: 300px;
}
.intro{
    font-size: larger;
    text-align: left;
    padding: 10px;
}
.intro p{
    color: rgba(0, 0, 0, 0.555);
}
.expProject{
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: Center;
}
.button{
    width: 200px;
    height: 45px;
    border-radius: 5px;
    background: rgb(111, 177, 235);
    font-size: 15px;
    color: black;
    cursor: pointer;
    border-style: none;
    margin-top: 10px;
    text-align: center;
    transition: ease-out 0.6s;
    
}
.button:hover{
    box-shadow: inset 200px 0 0 0 rgb(30, 75, 148);
    color:rgb(27, 16, 123);
}
h1{
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
}
.links{
    display: grid;
    margin: 20px;
    grid-template-columns: 33% 33% 33%;
}
.listItem{
    position: relative;
    list-style: none;
    display: inline-block;   
    width: 90%;
    height: 100%;
    cursor: pointer;    
}
#logoLink{
    padding-right: 2px;
}
#pleaseScroll{
    display: inline-block;
}
.sectionC{
    position: relative;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 10%;
    top: 200px;
}
.skillsHeader{
    position: relative;
    text-align: center;
}
#webDevelopment{
    position: relative;
    padding: 5px;
}
.frontEnd{
    cursor: pointer;
    background: transparent;
    text-align: left;
}
.skillItem{
    padding: 10px;
}
.skills {
    position: relative;
    top: 8px;
    height: 2px;
    display: inline-block;
    text-align: center; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    padding-left: 80px;
    margin-left: 20px;
    color: white; /* White text color */
    
    background-color: #2080a5;
}
  
.html {
    display: inline-block;  
    width: 100px;
    left: 6.8%;
} 
.CSS {
    position: relative;
    left: 9.8%;
    width: 100px;
}
.JS{
    width: 100px;
}
.REACT{
    width: 70px;
    left: 5.6%;
}
#skillInfo{
    display: grid;
    grid-template-columns: 50% 50%;
}
#webUp{
    display: inline-block;
    cursor: pointer;
}
#feContainer{
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
#skillId{

    list-style: none;
    text-align: left;
}
.SWEContainer{
    background: transparent;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    padding-top: 10px;
}
#webDevSrcDown:hover,#webDevSrcUp:hover,  #sweUp:hover , #sweDown:hover{
    color: rgb(43, 168, 226);
}
.sectionD{
    position: relative;
    top: 15%;
    text-align: center;
    background: white;
    margin-left: auto; 
    margin-right: auto;
    width: 90%;

}
.workStudyContainer{
    position: relative;   
    display: grid;    
    background: blue;
    grid-template-columns: 40% 20% 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.wsDiv{
    background: rgb(57, 152, 184);
    height: 100px;
}
.wsDivEmpty{
    background: transparent;
    height: 100px;
}