*{
  /*  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial, Helvetica, sans-serif;
  */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin: 0;
    padding: 0;  
}
@media (max-width: 768px){
    .sectionA .sectionB .sectionC .sectionD .sectionF{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
.main{
    text-align: center;
}
nav{
    position: fixed;
    left: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    display: inline-block;
    background: #0001;
    text-align: center;
    z-index: 10;
    
}
.name::before{
    content:'';
    animation: blinkCursor 0.8s steps(3) infinite;
}
@keyframes blinkCursor{
    0%,75%{
        opacity: 1;
    }
    70%,100%{
        opacity: 0;
    }
}
.name{
    animation: typing 8s steps(11) infinite;
    overflow:hidden;
}
@keyframes typing{
    0%,90%,100%{
        width: 0;
    }
    30%,60%{
        width: 95px;
    }
}
.totalUl li a{
    color: black;
    text-decoration: none;
}
.totalUl li a:hover{
    color: white;
    transition: all ease 0.3s;
}
.sectionA{
    position: relative;
}
.sectionB{
    height: 100vh;
}
.total{
    width: 100%;
    height: 3000px;    
    background: linear-gradient(to right,rgb(219, 229, 235),rgb(112, 175, 237));   
}
.totalUl{
    width: 100%;
    height: 100%;
}
.totalUl li{
    display: inline-block; /*  Item is placed inline  */
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
    margin: 5px;
    padding: 2px;   
}
.totalUl .name{
    position: fixed;
    left: 15px;
    font-size: x-large;
}
.about{
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;  /* Equal margin on width */
    margin-right: auto;
    top: 75px;
    width: 90%;
    height: 100%;
    
    background: white;
    
    color: black;
    border-radius: 20px;
}
.animation .bubbles{
    position: relative;
    align-items: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    background:rgb(118, 210, 226);
    margin: 0 4px;
    border-radius: 50%;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
.about .introName{
    text-align: center;
    display: inline-block;
}
.textAnimation{
    position:relative;
    color:black;
    font-size: 30px;
    font-weight: 600;   
}
.textAnimation .text{
    position: relative;
    color:#129cd2;
    font-size: 30px;
    font-weight: 600;
}
.textAnimation .first-text{
    color:black;
}
.textAnimation .sec-text:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:white; 
    border-left: 2px solid black;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate {
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
.about .aboutInfo{
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}
.image{
    height: 350px;
    animation-name: my-animation;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
  /* other properties */
  
    /*width: 300px;
    border-radius: 10px;
    position: absolute;*/
    position: relative;
    left: 0; 
    right: 0; 
    top: -20vh;
    margin-left: auto;
    margin-right: auto; 
    
}
@keyframes my-animation {
    from {
      width: 300px;
      top: 5px;
    }
    to {
      width: 300px;
      top: 20px;
    }
  }
#selfImage{
    max-width: 100%;
    height: 300px;
    border-radius: 51% 49% 56% 44% / 19% 23% 77% 81% ;
}
.intro{
    font-size: larger;
    text-align: left;
    padding: 10px;
}
.intro p{
    color: rgba(0, 0, 0, 0.555);
}
.expProject{
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: Center;
}
.button{
    width: 200px;
    height: 45px;
    border-radius: 5px;
    background: rgb(111, 177, 235);
    font-size: 15px;
    color: black;
    cursor: pointer;
    border-style: none;
    margin-top: 10px;
    text-align: center;
    transition: ease-out 0.6s;
    
}
.button:hover{
    box-shadow: inset 200px 0 0 0 rgb(43, 228, 212);
    color:white;
}
h1{
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
}
.links{
    display: grid;
    margin: 20px;
    height: 50px;
    grid-template-columns: 33% 33% 33%;
    
}
.links li:hover{
    transition: 0.5s;
    transform:translatey(-10px);
}
.listItem{
    position: relative;
    list-style: none;
    display: inline-block;   
    width: 90%;
    height: 100%;
    cursor: pointer;    
    color:rgb(111, 177, 235);
}
#logoLink{
    padding-right: 2px;
    color:#2080a5;
}
#pleaseScroll{
    display: inline-block;
}
.sectionC{
    position: relative;
    padding-top: 25px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 15%;
    top: 200px;
    border-radius: 20px;
}
.skillsHeader{
    position: relative;
    text-align: center;
    
}
#webDevelopment{
    position: relative;
    padding: 5px;
    transition: 0.5s;

}
#webDevelopment:hover{
    transform: scale(1.1);
    background: #90e0ef;   
}
.frontEnd{
    cursor: pointer;
    background: white;
    text-align: left;
}
.skillItem{
    padding: 10px;
}
.skills {
    position: relative;
    top: 8px;
    height: 2px;
    display: inline-block;
    text-align: center; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    padding-left: 80px;
    margin-left: 20px;
    color: white; /* White text color */
    background-color: #2080a5;
}
  
.html {
    display: inline-block;  
    width: 100px;
    left: 6.8%;
} 
.CSS {
    position: relative;
    left: 9.8%;
    width: 100px;
}
.JS{
    width: 100px;
}
.REACT{
    width: 70px;
    left: 5.6%;
}
#skillInfo{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 18px;
}
#webUp{
    display: inline-block;
    cursor: pointer;
}
#feContainer{
    display: flex;
    align-items: center;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
#skillId{
    list-style: none;
    text-align: left;
}
.SWEContainer{
    background: transparent;
    text-align: center;
    width: 265px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    padding-top: 10px;
}
#SWEDevelopment{
    position: relative;
    transition: 0.5s;
}
#SWEDevelopment:hover{
    transform:scale(1.1);
    background: #90e0ef;
}
#webDevSrcDown:hover,#webDevSrcUp:hover,  #sweUp:hover , #sweDown:hover{
    transform: translateY(-5px);
    color: rgb(43, 168, 226);
}
.sectionC{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionD{
    position: relative;
    top: 15%;
    padding-top: 25px;
    text-align: center;
    background: white;
    margin-left: auto; 
    margin-right: auto;
    width: 90%;
    border-radius: 20px;
}
.workStudyContainer{
    position: relative;   
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: grid;    
    background: transparent;
    grid-template-columns: 40% 20% 40%;
   /* margin: 10px; */
    padding: 10px;
    border-radius: 5px;
}
.wsDiv{
    background: rgb(111, 177, 235);
    height: 100px;
    padding-top: 10px;
    border-radius: 10px;
}
.wsDivEmpty{
    display: flex;
    background: transparent;
    height: 100px;
    justify-content: center;
    align-items: center; 
}
.circleBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    background: white;

    
}
.eduHeader, .workHeader{
    background: transparent;
}
#circlePointer{
    color:rgb(24, 111, 152);
}
.a{
    color:rgb(24, 111, 152);
}

.sectionF{
    position: relative;
    background: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    top: 500px;
    border-radius: 20px;
}
.card{
    position: relative;
    background:white;
    border-radius: 20px;
}
.card-container{
    display: flex;
    align-items: center;
    top: 10px;
    align-items: center;
    justify-content: center;
}
.card::before{
    content:"";
    position:absolute;
    height: 40%;
    width: 100%;
    /*background: #2080a5;*/
    border-radius: 20px 20px 0 0;
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    height: 350px;
    background: rgba(6, 198, 232, 0.067);
    border-radius: 10px;
    position: relative;
    z-index: 100;
}

.card .project-image {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    align-items: center;
    padding: 3px;
    background:rgba(0, 0, 0, 0.555)
}
.card .project-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.projectDes{
    text-align: left;
    padding: 5px;
    margin: 5px;
}
.cardButton{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
    transition: all 0.3s ease;

}
.Button{
    background: #129cd2;
    font-size: 18px;
    color: black;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    
}
.Button:hover{
    background: #45caff;
    cursor: pointer;
}
.swiper{
    width: 750px;
}
/*
.sectionC{
    background-image: url('./images/computerEdited.jpg'); 
    background-size: cover; 
    height:480px; 
    padding-top:80px;   
}
*/
#skillsDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0, 255, 247, 0.057);
    width: 400px;
    height: 200px;
}
.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);transform: translateX(-100%);
}
.hiddenRight{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);transform: translateX(100%);    
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
    .hiddenRight{
        transition: none;
    }
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    text-align: center;
}
